/* Estilos generales para la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

thead th {
    background-color: #f4f4f4;
    text-align: left;
    padding: 10px;
}

tbody td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

/* Botones de acción */
.boton-accion {
    margin: 0 5px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.boton-editar {
    background-color: #007bff;
    color: white;
    transition: background-color 0.3s ease;
}

.boton-editar:hover {
    background-color: #0056b3;
}

.boton-eliminar {
    background-color: #dc3545;
    color: white;
    transition: background-color 0.3s ease;
}

.boton-eliminar:hover {
    background-color: #a71d2a;
}

/* Botón para crear usuario */
button {
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #218838;
}
